* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
    background-color: darkseagreen;
}

#navigation li{
    display: inline-block;
}

#navigation {
    background-color: bisque;
    margin: 6px;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1vw;
}